{{define "header"}}
    <header>
        <a href="/">
            <h1 class="title">Private, Encrypted File Sharing</h1>
            <p>Your friend is sending you a file with AirdropBox, a service that allows you to share files with a safe,
                private, and encrypted link that automatically expires to ensure your stuff does not remain online
                forever.</p>
        </a>
    </header>
{{end}}

{{define "content"}}
    <main>
        <section class="wrapper">
            <h1>{{.Payload.Filename}}</h1>
            <span>{{.Payload.HumanReadableSize}}</span>

            <transition name="fade" mode="out-in">
                <form v-if="!downloaded"
                      v-on:submit.prevent="download"
                      key="1"
                      method="post" enctype="multipart/form-data" autocomplete="off">

                    <input name="payload-id" type="hidden" value="{{.Payload.PayloadID}}" required />

                    {{if .Payload.Password}}
                        <div class="input-container">
                            <password-input ref="passwordInput"></password-input>
                        </div>
                    {{end}}

                    <div class="btn-container">
                        <button type="submit">Download</button>
                    </div>
                </form>

                <div v-else
                     key="2"
                     class="downloaded">

                    <i class="material-icons md-48 md-light">done</i>
                </div>
            </transition>
        </section>

        <hr/>

        <table>
            <thead class="caption-subtitle">
            <tr>
                <th>Expires in</th>
                <th>Downloads</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    <time>{{.Payload.RelativeExpiration}}</time>
                </td>
                <td>{{.Payload.Downloads}} / {{.Payload.MaxDownloads}}</td>
            </tr>
            </tbody>
        </table>
    </main>

    <error-message ref="errorMessage"></error-message>

{{end}}