{{define "header"}}
    <header>
        <a href="/">
            <h1 class="title">Private, Encrypted File Sharing</h1>
            <p>Send files through a safe, private, and encrypted link that automatically expires to ensure your stuff does not remain online forever.</p>
        </a>
    </header>
{{end}}

{{define "content"}}
    <transition name="slide-horiz" mode="out-in">
        <main v-if="!uploading"
              key="1">

            <form v-on:submit.prevent="upload"
                  method="post" enctype="multipart/form-data" autocomplete="off">

                <label class="wrapper"
                       v-on:dragenter="onDragEnter"
                       v-on:dragleave="onDragLeave"
                       v-on:drop="onDrop">

                    <i class="material-icons md-48 md-light">cloud_upload</i>

                    <span>${ filename }</span>
                    <span v-if="fileDropped">${ humanReadableTotalSize }</span>

                    <input ref="fileInput"
                           v-on:change="displayFilename"
                           name="file" type="file" required/>
                </label>

                <section>
                    <span>The link to your file will expire after</span>

                    <select name="max-downloads" required>
                        <option value="1" selected>1 download</option>

                        {{range .TwoToHundred}}
                            <option value="{{.}}">{{.}} downloads</option>
                        {{end}}
                    </select>

                    <span>or</span>

                    <select name="time-to-live" required>
                        <option value="6" selected>6 hours</option>
                        <option value="12">12 hours</option>
                        <option value="24">24 hours</option>
                        <option value="48">48 hours</option>
                    </select>

                    <span>.</span>
                </section>

                <div class="wrapper">
                    <password-input optional="true"></password-input>
                </div>

                <div class="btn-container">
                    <button type="submit">Upload</button>
                </div>
            </form>

            {{if .Payloads}}
                <hr/>

                <table>
                    <thead class="caption-subtitle">
                    <tr>
                        <th>File</th>
                        <th>Expires in</th>
                        <th>Downloads</th>
                    </tr>
                    </thead>

                    <tbody>
                    {{range .Payloads}}
                        <tr>
                            <td>
                                <a href="/{{.PayloadID}}">{{.Filename}}</a>
                            </td>
                            <td>
                                <time>{{.RelativeExpiration}}</time>
                            </td>
                            <td>
                                {{.Downloads}} / {{.MaxDownloads}}
                            </td>
                            <td>
                                <form v-on:submit.prevent="remove"
                                      method="post" enctype="multipart/form-data" autocomplete="off">

                                    <input name="payload-id" type="hidden" value="{{.PayloadID}}" required/>

                                    <button type="submit">
                                        <i class="material-icons md-24 md-light">delete_forever</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            {{end}}
        </main>

        <main v-else-if="!uploaded"
              key="2"
              class="uploading">

            <h2>${ filename }</h2>

            <progress ref="progress" value="0" max="100"></progress>

            <div class="info">
                <h2>${ completedPercentage }%</h2>
                <span v-html>${ humanReadableCompletedSize } of ${ humanReadableTotalSize } (${ humanReadableInstantSpeed }) — ${ timeRemaining }</span>
            </div>
        </main>

        <main v-else
              key="3"
              class="uploaded">

            <section class="wrapper">
                <h2>${ filename }</h2>
                <span>${ humanReadableTotalSize }</span>
            </section>

            <hr/>

            <span>Copy and share the link to send your file:</span>

            <div class="input-wrapper">
                <input v-model="downloadUrl"
                       ref="downloadUrl"
                       type="text" readonly/>

                <i v-on:click="copyToClipboard"
                   class="material-icons md-24 md-light">file_copy</i>
            </div>
        </main>
    </transition>

    <error-message ref="errorMessage"></error-message>

{{end}}