{{define "layout"}}
    <!DOCTYPE html>

    <html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="/web/static/css/site.min.css" />

        <title>{{.Title}}</title>
    </head>

    <body>
    <noscript>
        <strong>We're sorry but AirdropBox doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>

    <div class="container">

        {{template "header"}}

        <div id="app">

            {{template "content" .}}

        </div>

        <footer class="caption-light">
            <a class="logo" href="/"></a>

            <div>
                <span>&copy 2019 AirdropBox</span>
            </div>
        </footer>
    </div>

    <script src="/web/static/lib/axios.min.js"></script>
    <script src="/web/static/lib/azure-storage.blob.min.js"></script>
    <script src="/web/static/lib/vue.min.js"></script>
    <script src="/web/static/js/site.min.js"></script>

    </body>
    </html>
{{end}}