﻿$font-family: "Source Sans Pro";
$code-font-family: "Menlo";
$line-height: 1.6;

$title-font-size: 2rem;
$subtitle-font-size: 1.6rem;
$body-font-size: 1.4rem;
$caption-font-size: 1.3rem;

$medium-font-weight: 600;
$regular-font-weight: 400;

$primary-dark-text-colour: rgba(0, 0, 0, 0.87);
$secondary-dark-text-colour: rgba(0, 0, 0, 0.6);
$disabled-dark-text-colour: rgba(0, 0, 0, 0.38);

$primary-light-text-colour: rgba(255, 255, 255, 1);
$secondary-light-text-colour: rgba(255, 255, 255, 0.7);
$disabled-light-text-colour: rgba(255, 255, 255, 0.5);

$divider-colour: rgba(0, 0, 0, 0.12);
$divider-light-colour: rgba(255, 255, 255, 0.2);

$blur-backdrop-filter: saturate(180%) blur(20px);
$blur-dark-background-colour: rgba(0, 0, 0, 0.7);
$blur-light-background-colour: rgba(255,255,255,0.7);

$border-radius: 2px;
$rounded-border-radius: 100px;

$dark-background-v1: #303030;
$dark-background-v2: #484b55;
$dark-background-v3: #404040;
$dark-background-v4: #525252;
$gradient-background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);

$website-width: 520px;
$website-accent-colour: #5ee0fd;


/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

/* -------------------------- */


html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: $font-family, sans-serif;
    font-size: $body-font-size;
    font-weight: $regular-font-weight;
    line-height: $line-height;
    color: $primary-light-text-colour;
    background: $dark-background-v1;
}

header {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
    box-sizing: border-box;

    a {
        margin: 0 16px 0 0;
    }
}

a {
    color: $secondary-light-text-colour;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $website-accent-colour;
    }
}

hr {
    margin: 32px 0;
    border: 0;
    border-bottom: 1px solid $divider-light-colour;
}

input, select {
    padding: 8px;
    font-family: $font-family, sans-serif;
    font-size: $body-font-size;
    font-weight: $regular-font-weight;
    line-height: $line-height;
    color: $primary-light-text-colour;
    background: $dark-background-v3;
    border: 0;
    border-radius: $border-radius;
    box-sizing: border-box;
}

button {
    font-family: $font-family, sans-serif;
    font-size: $body-font-size;
    font-weight: $medium-font-weight;
    padding: 8px 16px;
    color: $website-accent-colour;
    background: none;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid $website-accent-colour;
    border-radius: $rounded-border-radius;
    transition: all 0.3s ease-in-out;

    &[type="submit"]:hover {
        color: $primary-light-text-colour;
        background: $website-accent-colour;
    }
}

select, progress {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

progress[value] {
    width: 100%;
    height: 64px;
    background: $dark-background-v4;
    border-radius: $rounded-border-radius;
    border: 0;

    &::-webkit-progress-bar {
        background: $dark-background-v4;
        border-radius: $rounded-border-radius;
    }

    &::-webkit-progress-value {
        background: $gradient-background;
        border-radius: $rounded-border-radius;
    }

    &::-moz-progress-bar {
        background: $gradient-background;
        border-radius: $rounded-border-radius;
    }
}

table {
    margin: 0 auto;
    text-align: left;
    border-collapse: collapse;

    thead {
        color: $secondary-light-text-colour;
        text-transform: uppercase;
    }

    tr {
        transition: all 0.3s;

        th {
            padding: 8px 16px;
        }

        td {
            padding: 8px 16px;

            button {
                padding: 8px;
                border: none;

                &[type="submit"]:hover {
                    background: $dark-background-v4;
                }
            }
        }
    }
}

.title {
    font-size: $title-font-size;
    font-weight: $medium-font-weight;
}

.subtitle {
    font-size: $subtitle-font-size;
    font-weight: $regular-font-weight;
}

.caption-subtitle {
    font-size: $caption-font-size;
    font-weight: $medium-font-weight;
}

.caption {
    font-size: $caption-font-size;
    color: $disabled-dark-text-colour;
}

.caption-light {
    font-size: $caption-font-size;
    color: $disabled-light-text-colour;
}

.mono {
    font-family: $code-font-family, monospace;
}

.note {
    padding: 4px 8px;
    border-radius: $border-radius;
    color: #0288d1;
    background-color: #e1f5fe;
}

.note.caution {
    color: #dd2c00;
    background-color: #fff3e0;
}

.note.warning {
    color: #d50000;
    background-color: #fbe9e7;
}

.logo {
    display: block;
    width: 16px;
    height: 24px;
    background: url("/web/static/img/logo.svg") center no-repeat;
}

.error-banner {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    max-width: $website-width;
    padding: 0 16px;
    margin: calc(8% + 16px) auto 0;
    box-sizing: border-box;

    #app {
        main {
            padding: 32px;
            margin: 32px 0 0;
            background: $dark-background-v2;
            border-radius: $border-radius;
            box-shadow: 0px 5px 50px -10px $secondary-dark-text-colour;
            box-sizing: border-box;

            label {
                position: relative;
                display: block;
                padding: 32px;
                background: $dark-background-v3;
                border-radius: $border-radius;
                transition: all 0.3s ease-in-out;

                span {
                    display: block;
                }

                input {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    opacity: 0;
                }
            }

            form {
                section {
                    margin: 32px 0 0;
                }

                .btn-container {
                    margin: 32px 0 0;
                    text-align: center;
                }
            }
        }
    }
}



.wrapper {
    text-align: center;

    .input-container, > div .input-wrapper {
        margin: 32px 0 0;
        max-width: 324px;
    }
}

.input-container {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.input-wrapper {
    display: inline-flex;
    align-items: center;
    width: 100%;

    input {
        flex-grow: 1;

        + i {
            padding: 8px;
            border-radius: $rounded-border-radius;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background: $dark-background-v4;
            }
        }
    }

    + div {
        margin: 8px 0 0;
    }
}

.uploading {
    h2, .info {
        text-align: center;
    }
}

.uploaded {

}

.downloaded {
    display: flex;
    justify-content: center;
    margin: 32px 0 0;

    i {
        padding: 8px;
        border: 4px solid white;
        border-radius: $rounded-border-radius;
    }
}


/* -------- VUE.JS TRANSITIONS -------- */

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}

.slide-vert-enter-active, .slide-vert-leave-active,
.slide-horiz-enter-active, .slide-horiz-leave-active {
    transition: all 0.3s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.slide-vert-enter, .slide-vert-leave-to {
    transform: translateY(-8px);
    opacity: 0;
}

.slide-horiz-enter {
    transform: translateX(80px);
    opacity: 0;
}

.slide-horiz-leave-to {
    transform: translateX(-80px);
    opacity: 0;
}


/* -------- MEDIA QUERIES -------- */

// desktops: 1201px =<
// tablets: 769px - 1200px
// phones: 0px - 768px

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
    html {
        font-size: 8px;
    }

    .container {
        max-width: 408px;

        #app {
            main {
                padding: 16px;
            }
        }
    }
}